#
# define the start time of the calibration
# in the format of YYYYMMDD
export STARTPDY=20240913
#
# define the start hour of the calibration
export STARTCYC=00
# define the forecast length in hours of the calibration
export FCST_LENGTH_HRS=18
#
# location of the hot restart file for SCHISM. For cold start, set the value to ''.
#export HOT_START_FILE=/ngwpc-coastal/restart_coastal/hotstart_analysis_assim_coastal_hawaii_ana_20240220_1000.nc
export HOT_START_FILE=''

#
# location of the archived STOFS file if STOFS data is 
# going to be used for the boundary nodes
export STOFS_FILE=/efs/coastal_testdata/stofs_20240913/stofs_2d_glo.t00z.fields.cwl.nc

#
# location of the NWM retrospective or archieved forcing files
# note that the time span of the files must cover the whole simulation period
#export NWM_FORCING_DIR=/efs/schism_use_case/hi_nwm_ana_forcing_20240913/
export NWM_FORCING_DIR=/efs/coastal_testdata/hi_nwm_ana_forcing_20240913
#
# location of the NWM retrospective or archieved streamflow files
# note that the time span of the files must cover the whole simulation period
export NWM_CHROUT_DIR=/efs/coastal_testdata/hi_nwm_ana_chout_20240913/
#
# Whether or not to use TPXO forecast instead of STOFS data
# "YES" or "NO"
export USE_TPXO="NO"
#
#the name of the NWM domain to calibrate, one of hawaii, prvi, pacific or atlgulf
export COASTAL_DOMAIN=hawaii
#
#define working directory of the SCHISM calibration run
export COASTAL_WORK_DIR=/efs/schism_use_case/hi_nwm_ana_20240913

#set the Singularity image file
SIF_PATH="/contrib/Zhengtao.Cui/home/ngwpc/singularity/ngen_coastal_sing.sif"
##################################################################################################
# End of configuration
##################################################################################################
