#
# define the start time of the calibration
# in the format of YYYYMMDD
export STARTPDY=20130913
#
# define the start hour of the calibration
export STARTCYC=00
# define the forecast length in hours of the calibration
export FCST_LENGTH_HRS=18
#
# location of the hot restart file for SCHISM. For cold start, set the value to ''.
#export HOT_START_FILE=/ngwpc-coastal/restart_coastal/hotstart_analysis_assim_coastal_hawaii_ana_20240220_1000.nc
export HOT_START_FILE=''

#
# Whether or not to use TPXO forecast instead of STOFS data
# "YES" or "NO"
export USE_TPXO="YES"
#
#the name of the NWM domain to calibrate, one of hawaii, prvi, pacific or atlgulf
export COASTAL_DOMAIN=hawaii
#export COASTAL_DOMAIN=pacific
#export COASTAL_DOMAIN=prvi
#export COASTAL_DOMAIN=atlgulf

#source of meteorological forcing, NWM_ANA or NWM_RETRO
export METEO_SOURCE='NWM_RETRO'
#export METEO_SOURCE='NWM_ANA'
#
#define working directory of the SCHISM calibration run
#export COASTAL_WORK_DIR=/efs/schism_use_case/prvi_nwm_retro_20220913
#export COASTAL_WORK_DIR=/efs/schism_use_case/prvi_nwm_ana_20220913
#export COASTAL_WORK_DIR=/efs/schism_use_case/atl_nwm_retro_20220913
export COASTAL_WORK_DIR=/efs/schism_use_case/hi_nwm_retro_20130913

#set the Singularity image file
SIF_PATH="/contrib/Zhengtao.Cui/home/ngwpc/singularity/ngen_coastal_sing.sif"
##################################################################################################
# End of configuration
##################################################################################################
